<div class="container-fluid">
  <div class="row">
    <div class="scrambled-word" ng-model="word.scrambled">{{ word.scrambled }}</div>
  </div>

  <div class="row row-center">
    <form ng-submit="checkUserResponse(word)">
      <input type="text" class="user-form" ng-model="word.user_response">
    </form>
  </div>

  <div class="row row-center">
    <button type="button" class="button-custom" ng-click="word.show_hint = true">need a hint</button>
    <div class="hint" ng-show="word.show_hint">first letter: '{{ word.hint }}'</div>
  </div>

</div>
